main {
    margin-top: 170px;
    margin-bottom: 100px;
}

#titulo-nosotros {
    color:#4a7836;
    text-align: center;
    font-size: 36px;

}

h3 {
    color:#6ab04c;
    font-size: 25px
}

.tira-imagenes {
    display: flex;
    justify-content: center;
}

.tira-imagenes img {
    width: 280px;
    height: 180px;
    border-radius: 8px;
    border:solid #4a7836;
    margin: 20px;
    box-shadow: 0 4px 10px rgba (0, 0, 0, 0.5);/*No está reaccionando*/
}   /*sombra 0(sin desplazamiento horizontal) 4 (despl vertical)
    10 difuminado (cuanto más valor, más difusa)
    rgba color negro y 50% opacidad*/

main p {
    text-align:justify
}

article {
    margin: 50px;
}

#contacta-numero {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#telefono {
    font-size: 30px;
    text-align: center;
    color:#482d10;
}