/*estilo general*/
body{
    font-family: Arial, sans-serif;
    /*background-color: #FCF8F3;*/
    margin:0;
    padding: 0;
}

/*estilo encabezado*/
header {
    /*background: rgba(41, 123, 90, 0.57);*/
    background-image: url(images/fondo.jpg);
    /*background-image: url(https://img.freepik.com/vector-gratis/fondo-borde-transparente-dia-patricks-monton-trebol-verde_333792-56.jpg);*/
    width: 100%;     /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0;         /* Posicionamos la cabecera al lado izquierdo */
    top: 0;          /* Posicionamos la cabecera pegada arriba */
    right: 0;
    position:fixed;
    z-index: 1000;
    padding-top: 0px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header-flex-container{
    display: flex;
    justify-content: center; /*eje principal*/
    align-items:center; /*eje secundario*/
    flex-wrap: nowrap; /*permite el salto de linea*/
    /*flex-wrap: wrap; /*permite el salto de linea*/
    /*flex-shrink: 3;*/
}

header div a{
    text-decoration: none;
    color: white;
}
.item-logo{
    padding: 1%;
    margin: 3px;
    width: 50px;
}
.item1{
    padding: 1%;
    margin: 3px;
    color: white;
    flex-grow: 4;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

header .item{
    /*padding: 1%;
    margin: 3px;*/
    margin-right: 1%;
    /*transition: color 0.3s;*/
}
.icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}
.icon:hover{
    transform: scale(1.15);
    transition: color 0.3s;
}

.icon:hover{
    transform: scale(1.15);
}

.text:hover{
    color: #397914;
}

header ul{
    list-style: none;
    text-align: center;
}



/*NAVEGADOR*/
.nav-flex-container{
    display: flex;
    background-color:#397914;
    justify-content: center; /*eje principal*/
    align-items:center; /*eje secundario*/
    flex-wrap: nowrap; /*permite el salto de linea*/
}

.elemento{
    padding: 1%;
    margin: 5px;
}
.elemento:hover{
    background-color:#a2cd63;
}


/*carrusel*/
.banner {
    padding-top: 0px;
    max-width: 100%;
    /*position: relative;
    margin: 0 auto;*/
    overflow: hidden;

    /*background-size: contain;       /*para que ponga la imagen bien*/
    /*background-position: top;       /*para que ponga la imagen bien*/
    /*background-repeat: no-repeat;   /*para que ponga la imagen bien*/
    /*overflow: hidden;               /*para que ponga la imagen bien*/
}

.flex-viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide {
    min-width: 100%; /* Cada imagen ocupa el 100% del ancho del carrusel */
    box-sizing: border-box;
}


.slide img {
    width: 100%; /* Asegura que las imágenes ocupen todo el espacio de la slide */
    height: 500px;

}

.slide-cont {
    /*position: fixed;
    bottom: 100px;*/
    margin-left: 100px;
    margin-bottom: 100px;
    background-color: rgb(163, 161, 161, 0.5);
    padding: 10px;
    font-size: 50px;
    font-family: fangsong;
    color: whitesmoke;  
    text-wrap: nowrap;
}
